@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/ubuntu.ttf") format("truetype");
}

body {
  overflow-x: hidden;
  /* -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none; */
}

* {
  font-family: ubuntu, sans-serif;
  text-overflow: ellipsis;
  scrollbar-width: none;
}

[data-title]:hover:after {
  opacity: 1;
  transition: all 0.1s ease 0.5s;
  visibility: visible;
}
[data-title]:after {
  content: attr(data-title);
  background-color: white;
  color: gray;
  font-size: 15px;
  position: absolute;
  padding: 5px 10px;
  border-radius: 5%;
  bottom: -1.6em;
  left: 100%;
  white-space: nowrap;
  opacity: 0;
  z-index: 99999;
  visibility: hidden;
}
[data-title] {
  position: relative;
}

/* width */
::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.customScrollBar::-webkit-scrollbar {
  width: 3px;
}

.customScrollBar::-webkit-scrollbar-track {
  background: black;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="time"]::-webkit-calendar-picker-indicator {
  display: none;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
}

table {
  white-space: nowrap;
}
